{
    "development": {
      "username": "root",
      "password": "password",
      "database": "books",
      "host": "localhost",
      "dialect": "mysql"
    },
    "test": {
      "username": "root",
      "password": "password",
      "database": "my_database_test",
      "host": "localhost",
      "dialect": "mysql"
    },
    "production": {
      "username": "root",
      "password": "password",
      "database": "my_database_prod",
      "host": "localhost",
      "dialect": "mysql"
    }
  }